<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='CSS/editImage.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='CSS/edit2.css') }}" rel="stylesheet" media="screen">
  <title>Document</title>
  <body>
    <img class="menü"  id="menü"src="/static/list.svg"/>
  <div class="sidebar">
    
      <a href="/"><img class="house_logo" src="/static/house.svg"/></a>
    
  
      <a href="/add"><img class="add_logo" src="/static/plus-circle-dotted.svg"/></a>
  
  
      <a href="/benachrichtigung"><img class="delete_logo" src="/static/x-circle.svg"/></a>
  
  
      <a href="/info"><img class="info_logo" src="/static/info-circle.svg"/></a>
  
  </div>

  <div class="ImageContainer">
    <h4>Original </h4>

    <img class="image" src="/{{ a[0]['pfadOriginal'] }}{{ a[0]['original'] }}"/>

    <h4>Bearbeitet</h4>

    <img class="image" src="/{{ a[0]['pfadBearbeitet'] }}{{ a[0]['bearbeitet'] }}"/>

</div>

<div class="InfoContainer">
  <form action="/save"   method="post" enctype="multipart/form-data">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" value="{{ d[0]['ID'] }}" required disabled>
    <label for="id">UUID:</label>
    <input type="text" id="id" name="id" value="{{ d[0]['UUID'] }}" required disabled>
    
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ d[0]['Bezeichnung'] }}" disabled>

    <label for="name">Angelegt am :</label>
    <input type="text" id="name" name="name" value="{{ d[0]['Angelegt_am'] }}"disabled>
    
    
    <label for="Düngen">Düngen</label>
    <div class="checkbox-group">
    <input type="checkbox" id="Düngen" name="Düngen" value="ja"  {% if dictionary['dungen'] %} checked {% endif %} >
    </div>

    
    <label>Gießen:</label>
    <div class="checkbox-group">
        <input type="checkbox" id="rubrik_wenig" name="rubrik" value="wenig gießen" {% if dictionary['wenig gießen'] %} checked {% endif %}>
        <label for="rubrik_wenig">Wenig</label>
    </div>
    <div class="checkbox-group">
        <input type="checkbox" id="rubrik_mittel" name="rubrik" value="mittel gießen"  {% if dictionary['mittel gießen'] %} checked {% endif %}>
        <label for="rubrik_mittel">Mittel</label>
    </div>
    <div class="checkbox-group">
        <input type="checkbox" id="rubrik_viel" name="rubrik" value="viel gießen"  {% if dictionary['viel gießen'] %} checked {% endif %}>
        <label for="rubrik_viel">Viel</label>
    </div>
    
    <label>Standort:</label>
    <div class="checkbox-group">
        <input type="checkbox" id="standort_schattig" name="standort" value="schattig"  {% if dictionary['schattig'] %} checked {% endif %}>
        <label for="standort_schattig">Schattig</label>
    </div>
    <div class="checkbox-group">
        <input type="checkbox" id="standort_halbschattig" name="standort" value="halb sonnig schattig"  {% if dictionary['halb sonnig schattig'] %} checked {% endif %}>
        <label for="standort_halbschattig">Halb schattig</label>
    </div>
    <div class="checkbox-group">
        <input type="checkbox" id="standort_sonnig" name="standort" value="sonnig"  {% if dictionary['sonnig'] %} checked {% endif %}>
        <label for="standort_sonnig">Hell</label>
    </div>
    <div class="checkbox-group">
      <input type="checkbox" id="standort_kein_Sonne" name="standort" value="keine Sonne"  {% if dictionary['keine Sonne'] %} checked {% endif %}>
      <label for="standort_kein_Sonne">Keine direkte Sonne</label>
  </div>

    <label for="text">Anmerkung</label>
    <textarea id="text" name="text" >{{ d[0]['Text']}}</textarea> 
    
</form>
</div>

<div class="InfoContainer2">
  <h1>Statistik</h1>
  <h4>Gegossen am</h4>

  {% for row in c %}
    <div class="Datum">
  <h3>{{row['Datum']}}</h3>
          </div>
    {% endfor %}







</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggleSidebarBtn = document.getElementById('menü');
    const sidebar = document.querySelector('.sidebar');

    toggleSidebarBtn.addEventListener('click', function () {
      sidebar.classList.toggle('hidden');
    });
  });
</script>




  </body>